<%= table_for(Ticket, {
  :object      => current_user, 
  :association => :assigned_tickets,
  :columns     => {:include => :project, :exclude => :assigned_to},
  :sort        => [:updated_on, :desc],
  :id          => 'a',
}, {
  :conditions   => ['state in (?)', Ticket::OPEN_STATES],
}).to_html %>
