<%= table_for(Ticket, {
  :object      => current_user, 
  :association => :created_tickets,
  :columns     => {:include => :project, :exclude => :assigned_to},
  :sort        => [:updated_on, :desc],
  :id          => 'c',
  :per_page    => 5,
}, {
  :conditions   => ['assigned_to_id is null or assigned_to_id != ?', current_user.id],
}).to_html %>
