<% if @user.has_positions? %>
  <% @section_count += 1 if @section_count %>

  <h1>Projects:</h1>
  <ul>
    <% @projects.each do |project| %>
    <% position = @user.positions.detect {|p| p.project_id == project.id} %>
      <li><%= link_to_project(project) %> (<%= h(position.role.title) %>)</li>
    <% end %>
  </ul>
<% end %>
