<% if article.has_excerpt? %>
  <%= render_filtered_text(article, :association => :excerpt, :radius => true) %>
<% else %>
  <%= render_filtered_text(article, :association => :body, :radius => true) %>
<% end %>
