<% @page_title = 'Articles' %>
<%= render(:partial => 'subnav', :locals => {:h1 => "Recent #{@blog.title} Articles:"}) %>

<% @articles.each do |article| %>
  <div id="<%= article.dom_id %>" class="article">
    <h2><%= h(article.title) %></h2>
    <%= render_filtered_text(article.body) %>
    <p class="attribution">
      Posted <%= h(format_time_from(article.published_on, current_user)) %>
      by <%= link_to_person(article.user) %>
    </p>
  </div>
<% end %>
