<% @page_title = 'New Article' %>
<% @page_javascript = 'article' %>

<% generate_form_for(@article, :legend => "New #{@blog.title} Article", :url => articles_url('create')) do |form| %>
  <% articles_form(@article, form) %>
  <% form.button('Create') %>
  <% form.button('Cancel', :url => articles_url('index')) %>
<% end %>

<script type="text/javascript">
  // <![CDATA[
  setup_article_js();
  // ]]>
</script>
