<% @page_title = @article.title %>
<%= render(:partial => 'subnav', :locals => {:h1 => nil}) %>

<div id="<%= @article.dom_id %>" class="article">
  <%= render(:partial => 'articles/title', :locals => {:article => @article}) %>
  <%= render_filtered_text(@article.body, :radius => true) %>
</div>

<h1>Tags: <%= render_tag_editor(@article) %></h1>
<%= tag_cloud_for(@article) %>

<%= comment_section_for(@article) %>
