/* =General
-----------------------------------------------------------------------------*/
/* Class for clearing floats */
.clear 
{
  clear: both;
}


/* Remove border around linked images */
img 
{
  border: 0;
}


p
{
  margin: 0 0 12px 0;
  padding: 0;
}

/* =Typography
-----------------------------------------------------------------------------*/

body 
{
  margin: 0;
  padding: 0;
  min-width: 700px;

  background: #fff;
  color: #000;

  font-size: 12px;
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, serif;
}

/* =Headings
-----------------------------------------------------------------------------*/
h1, h2, h3, h4
{
  margin: 0;
  padding: 0;
}

h1 
{
  padding-top: 20px;
  font-size: 22px;
  color: #399C07;
}

h2
{
  font-size: 18px;
}

h3
{
  font-size: 14px;
}

/* =Links
-----------------------------------------------------------------------------*/
a:link, a:visited 
{
  text-decoration: none;
  color: #3892ED;
  border-bottom: 1px dotted #a0a0a0;
}

a:hover, a:active
{
  border-bottom: 1px solid #000;
}

/* =Rounded Boxes
-----------------------------------------------------------------------------*/
.rounded_line
{
  margin: 0 auto;
  padding: 0 7px 0 0;
  float: right;
  color: #000;
  height: 20px;
  background: url(/images/app/top-round-right.jpg) no-repeat right;
}

.rounded_line_content
{
  margin: 0;
  padding: 0 0 0 7px;
  background: url(/images/app/top-round-left.jpg) no-repeat left;
}

.rounded_line_content p
{
  margin: 0 auto;
  padding: 0 8px 0 8px;

  font-size: 12px;
  line-height: 20px;
  height: 20px;

  background: #e7e7e7;
}

.rounded_line_content a:link,
.rounded_line_content a:visited,
.rounded_line_content a:hover,
.rounded_line_content a:active
{
  color: inherit;
  text-decoration: inherit;
  border: inherit;
}

/* =Top Level Div
-----------------------------------------------------------------------------*/
#page
{
  margin: 0;
  padding: 0;

  width: 100%;
  text-align: center;
}

#page_top
{
  margin: 0;
  padding: 0;
}

/* =Upper Info Bar
-----------------------------------------------------------------------------*/
#top_banner
{
  margin: 8px 0 0 0;
  width: 90%;
}

#top_banner div
{
  float: right;
}

/* =Project Banner
-----------------------------------------------------------------------------*/
#project_banner
{
  margin: 0;
  padding: 25px 0 25px 0;
  background: url(/images/app/green-fade.jpg) repeat-x left bottom;
}

#project_banner_content
{
  margin: 0 auto;
  padding: 0;
  width: 700px;
  text-align: left;
}

#project_banner h1
{
  margin: 0;
  padding: 0;
  font-size: 34px;
  color: #0066cc;
}

#project_banner h1 a:link,
#project_banner h1 a:visited,
#project_banner h1 a:hover,
#project_banner h1 a:active
{
  color: inherit;
  text-decoration: none;
  border-bottom: none;
}

#project_short_description
{
  margin: 0;
  padding: 0;
  font-size: 12px;
}

/* =Main Nav
-----------------------------------------------------------------------------*/
#menu
{
  margin: 0;
  padding: 0;
  width: 100%;

  height: 30px;
  background: #cc2f00 url(/images/app/red-bar.jpg);
}

#menu_content
{
  margin: 0 auto;
  padding: 0;
  width: 700px;
  text-align: center;
}

#menu ul 
{
  margin: 0;
  padding: 6px 0;

  list-style-type: none;
  text-align: center;
}

#menu li 
{
  margin: 0;
  padding: 0;

  display: inline;
  position: relative;
}

#menu a 
{
  margin: 0; 
  padding: 8px 12px;

  font-size: 16px;
  font-weight: bold;
  color: #fff;

  text-decoration: none;
  border-bottom: none;
}

#menu a:hover 
{
  background-color: #cc2f00;
}

/* =Main Content
-----------------------------------------------------------------------------*/
#content
{
  margin: 0 auto;
  padding: 10px 0 25px 0;

  width: 700px;
  text-align: left;

  font-size: 14px;
}


/* =Footer
-----------------------------------------------------------------------------*/
#footer
{
  margin: 0;
  padding: 20px 0 0 0;
  clear: both;

  width: 100%;

  color: #c1c1c1;
  font-size: 10px;
  text-align: center;
}

#footer a:link,
#footer a:visited,
#footer a:hover,
#footer a:active
{
  color: inherit;
  text-decoration: underline;
  border-bottom: none;
}


/* =Forms
-----------------------------------------------------------------------------*/

fieldset 
{
  margin: 0 auto;
  padding: 10px;

  width: 400px;
  border: 1px solid #ccc;

  color: #000;
  background: #f8f8f8;
  text-align: left;
}

legend
{
  margin: 0;
  padding: 3px;

  font-size: 1.2em;
  font-weight: bold;
}

label
{
  margin: 0;
  padding: 0;

  display: block;

  color: #000;
}

label em
{
  font-size: 0.85em;
  font-style: normal;
}

input[type="text"], input[type="password"], textarea
{
  width: 300px;

  border-top:    2px solid #999;
  border-left:   2px solid #999;
  border-bottom: 1px solid #ccc;
  border-right:  1px solid #ccc;
}

textarea
{
  height: 300px;
}

label.select_label
{
  margin-right: 0.5em;
  display: inline;
}

div.form_buttons
{
  margin: 0;
  padding: 0;
}

div.form_buttons input
{
  margin: 0px 0px 0px 5px;
  padding: 0;
  float: right;
}

/* =Tables
-----------------------------------------------------------------------------*/

table 
{ 
}

td  
{
  text-align: left;
  font-weight: normal;
}

/* =Tickets
-----------------------------------------------------------------------------*/
#ticket_summary_attributes
{
  float: right;
}

/*
  vim:sw=2:sts=2
 */
