<% @page_title = 'Home' %>

<div id="home_sidebar">
  <h1>Projects:</h1>
  <ul>
    <% @projects.each do |project| %>
      <li><%= link_to_project(project) %></li>
    <% end %>
  </ul>
</div>

<div id="home_articles">
  <h1>Recent Articles:</h1>
  <%= render(:partial => 'articles/list', :locals => {:articles => @articles}) %>
</div>

<br class="clear"/>
