<% @page_title = 'Config' %>
<h1>Project Config:</h1>
<ul>
  <li><%= link_to('General',         :action => 'general',     :project => @project) %></li>
  <li><%= link_to('Members',         :controller => 'members', :project => @project) %></li>
  <li><%= link_to('Policies',        :action => 'policies',    :project => @project) %></li>
  <li><%= link_to('Description',     :action => 'description', :project => @project) %></li>
  <li><%= link_to('Page Navigation', :action => 'nav',         :project => @project) %></li>
</ul>
