<% @page_title = 'Page Navigation' %>

<% generate_form_for(nil, :legend => 'Project Page Navigation', :url => {:project => @project}) do |form| %>
  <% form.subform(filtered_text_form(@project.nav_content)) %>
  <% form.button('Update') %>
  <% form.button('Cancel', :url => {:action => 'index', :project => @project}) %>
<% end %>

