<% @page_title = _('Create Project') %>
<% @page_javascript = 'slug' %>

<% generate_form_for(@prj, :legend => _('Create Project')) do |form| %>
  <% project_form(form) %>
  <% form.error(_("The initial admin email address is not a valid registered user")) unless @email_error.nil? %>
  <% form.button(_('Create')) %>
  <% form.button(_('Cancel'), :url => {:action => 'list'}) %>
<% end %>

<script type="text/javascript">
  // <![CDATA[
  setup_slug_js();
  // ]]>
</script>
