<%#
# _ticket_entry.rhtml
# 
# Created on 23/10/2007, 13:54:35
# 
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>


<dt class="entry ticket <%= entry.change.to_s %>">
  Ticket #<%= entry.parent_id %> <%= entry.change_name %> by <%= entry.user.name %>
</dt>
<dd>
  
</dd>