<% generate_form_for(@page, :legend => 'Page Editor') do |form| %>
  <% form.text_area(:body, "Page Body:") %>
  <% form.collection_select(:filter, "Filter:", TextFilter.list, :to_s, :to_s) %>
  <% form.button('Save') %>
  <% form.button('Cancel') %>
<% end %>
