<%= table_for(Page, {
  :object      => @project,
  :association => :pages,
  :sort        => [:updated_at, :desc],
  :controls    => (current_user.projects.include?(@project) ? :before : nil),
}) %>
