<% @page_title = @page.title %>
<%= render_filtered_text(@page.filtered_text) %>

<h1>Tags:</h1>
<p>one two three four five six seven eight nine</p>

<h1>Comments:</h1>
<p>one two three four five six seven eight nine</p>
