<h1>Edit Ticket <%= h(@ticket.id) %></h1>
<% generate_form_for(@ticket) do |form| %>
<% ticket_form(form, :title => true) %>
  <% form.button("Update") %>
  <% form.button("Cancel", :url => url_for_ticket(@ticket)) %>
<% end %>
