<h1>
  <%= h(@ticket.title) %>

  <% if @ticket.open? and current_user.can_edit_tickets?(@project) %>
    <%= link_to_ticket_summary_editor(@ticket) %>
  <% end %>
</h1>

<%= render_filtered_text(@ticket.summary, :radius => false) %>
