<% @page_title = 'Attach File' %>
<% generate_form_for(@ticket, :legend => @page_title) do |form| %>
  <% form.subform(attachment_form(@attachment)) %>
  <% form.button("Attach") %>
  <% form.button("Cancel") %>
<% end %>
