<% generate_form_for(@ticket, :legend => 'Edit Ticket Summary') do |form| %>
  <% form.text_field(:title, 'Title:') %>
  <% form.subform(filtered_text_form(@ticket.summary, 'Summary')) %>
  <% form.button("Update") %>
  <% form.button("Cancel", :url => url_for_ticket(@ticket)) %>
<% end %>
