<% @page_title = 'Tickets' %>

<% subnav('Open Tickets:') do |items| %>
  <% items << link_to('Create Ticket', :action => 'new', :project => @project) %>
<% end %>

<%= ticket_table_html %>

<% if current_user.can_moderate? %>
  <h1>Moderated Tickets:</h1>
  <%= ticket_table_html(false) %>
<% end %>
