<% @page_title = 'Tickets' %>

<% subnav('Open Tickets:') do |items| %>
  <% items << link_to('Create Ticket', :action => 'new', :project => @project) %>
<% end %>

<%= render(:partial => 'list') %>

<% if current_user.can_moderate? %>
  <h1>Moderated Tickets:</h1>
  <%= render(:partial => 'mlist') %>
<% end %>
