<%= table_for(Tagging, {
  :object      => @tag, 
  :association => :taggings,
  :sort        => [:created_on, :desc],
}, Tagging.options_to_find_tag_in_project(@project)).to_html({
  :caption     => "<h2>Items tagged with #{h(truncate(@tag.name.humanize))}:</h2>",
}) %>
