<% @page_title = "Tag #{@tag.name}" %>

<% subnav(@tag.name.humanize) do %>
  <%= link_to('View All Tags', :action => 'index') %>
<% end %>

<h2><%= pluralize(@tag.reference_count, "Item") %> <%= h("Tagged With #{@tag.name.humanize}") %>:</h2>
<%= render(:partial => 'show_table') %>
