<% @page_title = _('Policies') %>
<% generate_form_for(nil, :legend => _('System Policies'), :url => {:action => 'update'}) do |form| %>
  <% @policies.each {|p| p.form_field(form)} %>
  <% form.button(_('Update')) %>
  <% form.button(_('Cancel'), :url => {:controller => '/admin'}) %>
<% end %>
