<% @page_title = 'Policies' %>
<% generate_form_for(nil, :legend => 'System Policies', :url => {:action => 'update'}) do |form| %>
  <% @policies.each {|p| p.form_field(form)} %>
  <% form.button('Update') %>
  <% form.button('Cancel', :url => {:controller => '/admin'}) %>
<% end %>
