<% @page_title = _('Login') %>

<% if Policy.check(:allow_open_enrollment) %>
  <h1 id="register"><%= _('Login') %> <%= _('or') %> <%= link_to(_('Register For a New Account'), :action => 'new') %>:</h1>
<% end %>

<% @form_description.button(_('Login')) %>
<% @form_description.button(_('Cancel'), :url => home_url) %>
<%= generate_form_from(@form_description, :legend => _('Login'), :html => {:id => 'login'}) %>
