<% @page_title = _('Edit User Account') %>

<% generate_form_for(nil, :legend => @page_title, :url => {:action => 'update', :id => @user}) do |form| %>
  <% @authenticator.form_for_edit(form, @user.account_id) %>
  <% admin_user_form(form, @user) %>
  <% form.error(@edit_result) if @edit_result %>
  <% form.button(_('Update')) %>
  <% form.button(_('Cancel'), :url => {:action => 'list'}) %>
<% end %>
