<% @page_title = 'Users' %>

<% subnav('User Accounts:') do %>
  <% if @authenticator.respond_to?(:form_for_create) %>
    <%= link_to('Create Account', :action => 'new') %>
  <% end %>
<% end %>

<div id="user_table">
  <%= render(:partial => 'table') %>
</div>
