<% @page_title = 'New User Account' %>

<% generate_form_for(nil, :legend => @page_title, :url => {:action => 'create'}) do |form| %>
  <% @authenticator.form_for_create(form) %>
  <% admin_user_form(form, @user) %>
  <% form.error(@create_result) if @create_result %>
  <% form.button('Create') %>
  <% form.button('Cancel', :url => {:action => 'list'}) %>
<% end %>
