<% @page_javascript = 'slug' %>

<% generate_form_for(@blog, :legend => _('Blog Options')) do |form| %>
  <% form.error(@create_error) if @create_error %>
  <% form_for_blog(form, @blog) %>
  <% form.button(_('Save')) %>
  <% form.button(_('Cancel'), :url => {:action => 'list'}) %>
<% end %>

<script type="text/javascript">
  // <![CDATA[
  setup_slug_js();
  // ]]>
</script>
