<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>
      <% unless @page_title == 'index' %><%= h(@page_title) %> -<% end %>
      <%= @project ? h(@project.name) : h(Policy.lookup(:site_name)) %>
    </title>

    <%= stylesheet_link_tag('style') %>
    <%= stylesheet_link_tag('tagging') %>
    <%= stylesheet_link_tag('stickies') %>
    <%= javascript_include_tag(:defaults) %>
    <%= javascript_include_tag(@page_javascript) if @page_javascript %>

    <% if @project and !(pcss = @project.policies.lookup(:project_stylesheet).value).blank? %>
      <%= stylesheet_link_tag(pcss) %>
    <% end %>

    <% if @layout_feed %>
      <% @layout_feed.update(:controller => 'feed', :only_path => false) %>
      <%= auto_discovery_link_tag(:rss,  url_for(@layout_feed.merge(:format => 'rss'))) %>
      <%= auto_discovery_link_tag(:atom, url_for(@layout_feed.merge(:format => 'atom'))) %>
    <% end %>
  </head>

  <body class="<%= @controller.controller_name %>">
    <div id="page">
      <div id="page_top">
        <div id="top_banner">
          <% render_rounded_line do %>
            <% if logged_in? %>
              Welcome <%= h(current_user.first_name) %> | 
              <%= link_to('Dashboard', :controller => '/dashboard') %> | 
              <%= link_to('Home', home_url) %> | 

              <% if current_user.is_root? %>
                <%= link_to('Admin', :controller => '/admin') %> |
              <% end %> 

              <%= help_link %> |
              <%= link_to_function('Logout') {|p| p << visual_effect(:toggle_slide, :confirm_logout)} %>
            <% else %>
              <%= link_to('Home', home_url) %> | 
              <%= help_link %> |
              <%= link_to('Login', :controller => '/account', :action => 'login') %>
            <% end %>
          <% end %>
          <br class="clear"/>

          <% if logged_in? %>
            <%= generate_fast_form(:id => 'confirm_logout', 
                                   :label => "Are you sure you want to logout?",
                                   :button => 'OK', :cancel => true, :field => :none, 
                                   :xhr => false, :url => {:controller => '/account', :action => 'logout'}) %>
          <% end %>
        </div>

        <% if @project %>
          <div id="banner">
            <div id="banner_content">
              <h1><%= link_to(h(@project.name), project_url(:project => @project)) %></h1>
              <p id="banner_description"><%= h(@project.summary) %></p>
            </div>
          </div>

          <div id="menu">
            <div id="menu_content"><%= render(:partial => 'layouts/project_menu') %></div>
          </div>
        <% else %>
          <div id="banner" class="site_banner">
            <div id="banner_content">
              <h1><%= link_to(h(Policy.lookup(:site_name)), home_url) %></h1>
              <p id="banner_description"><%= h(Policy.lookup(:site_description)) %></p>
            </div>
          </div>
        <% end %>
      </div>

      <div id="content_parent">
        <div id="content">
          <%= render_stickies({
            :effect         => :squish, 
            :effect_options => {:duration => 0.25},
            :close          => icon_tag(:cross), 
            :link_html      => {:class => 'icon_link'},
          }) %>

          <%= yield %>
        </div>
      </div>

      <div id="footer">
        <p>Powered by <a href="<%= APP_HOME %>"><%= h(APP_NAME) %></a> from <a href="http://pmade.com">pmade inc.</a></p>
      </div>
  </body>
</html>
