<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>
      <% unless @page_title == 'index' %><%= h(@page_title) %> -<% end %>
      <%= @project ? h(@project.name) : h(Policy.fetch(:site_name)) %>
    </title>

    <%= stylesheet_link_tag('style') %>
    <%= stylesheet_link_tag('tagging') %>
    <%= javascript_include_tag(:defaults) %>

    <% if @project and !@project.css_link.blank? %>
      <%= stylesheet_link_tag(@project.css_link) %>
    <% end %>
  </head>

  <body class="<%= @controller.controller_name %>">
    <div id="page">
      <div id="page_top">
        <div id="top_banner">
          <% render_rounded_line do %>
            <% if logged_in? %>
              Welcome <%= h(current_user.first_name) %> | 
              <%= link_to('Dashboard', :controller => 'dashboard') %> | 
              <%= link_to('Home', home_url) %> | 
              <%= link_to('Logout', :controller => 'account', :action => 'logout') %>
            <% else %>
              <%= link_to('Home', home_url) %> | 
              <%= link_to('Login', :controller => 'account', :action => 'login') %>
            <% end %>
          <% end %>
          <br class="clear"/>
        </div>

        <% if @project %>
          <div id="banner">
            <div id="banner_content">
              <h1><%= link_to(h(@project.name), project_url(:project => @project)) %></h1>
              <p id="banner_description"><%= h(@project.summary) %></p>
            </div>
          </div>

          <div id="menu">
            <div id="menu_content">
              <ul>
                <li><a href="#">Blog</a></li>
                <li><%= link_to('Tickets', :controller => 'tickets', :project => @project) %></li>
                <li><a href="#">Members</a></li>
                <li><a href="#">Search</a></li>
              </ul>
            </div>
          </div>
        <% else %>
          <div id="banner" class="site_banner">
            <div id="banner_content">
              <h1><%= link_to(h(Policy.fetch(:site_name)), home_url) %></h1>
              <p id="banner_description"><%= h(Policy.fetch(:site_description)) %></p>
            </div>
          </div>
        <% end %>
      </div>

      <div id="content_parent">
        <div id="content"><%= yield %></div>
      </div>

      <div id="footer">
        <p>Powered by <a href="<%= APP_HOME %>"><%= h(APP_NAME) %></a> from <a href="http://pmade.com">pmade inc.</a></p>
      </div>
  </body>
</html>
