<% @page_title = 'Members' %>

<% subnav('Project Members:') do |links| %>
  <% if current_user.can_edit_users?(@project) %>
    <% links << link_to('Add Member', :action => 'new', :project => @project) %>
  <% end %>
<% end %>

<%= render(:partial => 'table') %>
