<% @page_title = 'Members' %>

<% subnav do |links| %>
  <% if current_user.can_add_users?(@project) %>
    <% links << link_to('Add Member', :action => 'new') %>
  <% end %>
<% end %>

<h1>Project Members:</h1>
<%= table_for(Position, :object => @project, :association => :positions) %>
