<h1>Moderated Users:</h1>
<%= table_for(User, {
  :columns => {:exclude => [:enabled, :is_root, :email], :include => User::CONTENT_ASSOCIATIONS},
  :sort    => [:created_on, :desc],
}, {
  :conditions => @conditions, :include => User::CONTENT_ASSOCIATIONS,
}) %>
